@tailwind base;
@tailwind components;
@tailwind utilities;

.font-rockwell {
    font-family: rockwell;
}

.fade-in {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.h-108 {
    height: 27rem;
}

.w-108 {
    width: 27rem;
}

.h-120 {
    height: 30rem;
}

.w-120 {
    width: 30rem;
}

.h-152 {
    height: 38rem;
}

.h-192 {
    height: 48rem;
}

.h-228 {
    height: 57rem;
}

.h-252 {
    height: 63rem; 
}